.base {
    padding-inline: 16px;
    padding-block: 8px;
    border-radius: var(--radius-md);
    text-transform: capitalize;
    transition: background-color 200ms ease-in-out;
    background-color: inherit;

    @media screen and (max-width: 50rem) {
        padding-inline: 0px;
        padding-block: 0px;
        font-size: var(--text-xs);
    }
}

.primary {
    background-color: var(--color-primary);

    &:hover {
        background-color: var(--color-primary-700);
    }
}

.secondary {
    background-color: var(--color-gray-100);
    color: var(--color-text);

    &:hover {
        opacity: 0.95;
    }
}

.bordered {
    color: var(--color-text);
    border: 1px solid black;
    &:hover {
        opacity: 0.95;
    }
}



.base:disabled {
    opacity: 0.8;
}

.base:focus-visible {
    outline-offset: 2px;
    outline: 2px solid var(--color-gray-300);
}