.wrapper {
    border-radius: var(--radius-md);
    padding-block: 10px;
    padding-inline: calc(12rem / 16);
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-text);
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;

    &:hover {
        background-color: var(--color-gray-100);
        color: var(--color-text);
    }

    @media screen and (max-width: 50rem) {
        padding-inline: calc(8rem / 16);
        padding-block: 5px;
        font-size: var(--text-xs);
        gap: 0px;

        &:hover {
            color: var(--color-text);
        }
        
    }
    
}



.wrapper:hover svg:first-of-type {
    color: var(--color-primary);
}
