*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}


:root {
  --text-xs: 0.70rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  
  --radius-xs: 4px
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 20px;
  --radius-3xl: 24px;
  --radius-full: 9999px;

  --viewport-padding: 25px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

button {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}

ul, ol {
  padding: 0;
  list-style: none;
}

#root, #__next {
  isolation: isolate;
}

html {
  color-scheme: light dark;
}

[data-theme='light'] {
  color-scheme: light only;
}

[data-theme='dark'] {
  color-scheme: dark only;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-monospace);
  min-block-size: 100vh;
}

main {
  max-inline-size: min(var(--max-container-inline-size), 100%);
  padding-inline: 20px;
  margin-inline: auto;
}

input:-internal-autofill-selected {
  background-color: var(--color-background) !important;
  color: var(--color-text) !important;
}

[tabindex='-1']{
  outline: none;
}


