.wrapper {
    display: grid;
    
    @media screen and (min-width: 67rem) {
        grid-template-columns: 271px 1fr;
    }

}


.mobile {
    padding-block-start: 0;
}


.content {
    display: grid;
    @media screen and (min-width: 50rem) {
        grid-template-columns: 272px 1fr;
    }
}